
Assignment3/.DS_Store

QT_interface/.DS_Store

QuadricCode/Transform-Info.plist

QuadricCode/Transform.xcodeproj/onorinbejasus.mode1v3

QuadricCode/Transform.xcodeproj/onorinbejasus.pbxuser

QuadricCode/Transform.xcodeproj/project.pbxproj

QuadricCode/Transform.xcodeproj/project.xcworkspace/contents.xcworkspacedata

QuadricCode/Transform.xcodeproj/project.xcworkspace/xcuserdata/timothyluciani.xcuserdatad/UserInterfaceState (Timothy-Lucianis-MacBook-Pro's conflicted copy 2011-08-09).xcuserstate

*.xcuserstate

*.pbxuser

*.xcscheme

*.plist

*.xcbkptlist

*.o
